*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
} 

#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all linear 0.1s;
}
#cursor-blur{
    height: 300px;
    width: 300px;
    background-color: #96c11e4f;
    border-radius: 50%;
    position: fixed;
    filter:blur(40px);
    z-index: 9;
    transition: all linear 0.3s;
}

#nav{
    height: 120px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 100px;
    justify-content: flex-start;
    gap:25px;
    position: fixed;
    z-index: 99;
}

#nav img{
    height: 65px;
}
#nav h4{
   text-transform: uppercase;
   font-weight: 300;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}
#page1{

    height:100vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1{
    font-size: 87px;
    font-weight: 900;
    position: relative;
}
/* for extra background style we use psuedo elements */
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 1px #95C11E;
    z-index: -1;
}

#page1 h2{
    font-size: 23px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 15px;
}
#page1 p{
    font-size: 18px;
    font-weight: 400;
    width: 50%;
}


#page2{
    height: 100vh;
    width: 100%;
    z-index: 10;

}

#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    font-family: gilroy;
    margin: 10px;
    transition: all linear 0.5s;
    color: black;
    -webkit-text-stroke: 0.3px #fff;
}
#scroller h4:hover{
    color:#95C11E;
}

@keyframes scroll{
    from{
        transform: translate(0%);
    }
    to{
        transform: translate(-100%);
    }
}